.card {
    width: 200px !important;
    height: 200px;
    background: #ffffff;
    box-shadow: 0px 1px 4px 1px rgba(158, 151, 151, 0.25);
    border-radius: 15px;
    margin: 12px;
    padding: 12px;
}

.d-flex {
    display: flex;
    transform: translateX(calc(100vw));
    overflow: visible;
    animation: animateContainer 20s linear forwards infinite;
    animation-play-state: paused;
}

@keyframes animateContainer {
    from {
        transform: translateX(calc(100vw));
    }

    to {
        transform: translateX(calc(-100%));
    }
}
.bubble{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
padding: 21px;
    gap: 15px;
}
.bubble img{
    width: 75px;
}
@media(max-width:560px) {
    .bubble img {
        width: 49px}}