div.coment {
    padding: 10px;
    border-top: 2px solid  #b3a7a7d9;;
}

.coment img {
    width: 50px;
    padding: 5px 0px;
        margin-top: 2px;
}

.coment .info {
    display: flex;
        justify-content: start;
        align-items: start;
}

.coment .info .name {
    font-size: 16px;
        padding: 0px 15px;
    
}
.coment .info .coment {
font-size: 13px;
    padding: 10px 17px;
    color: #b3a7a7d9;
}

.coment .data {
        font-size: 12px;
            text-align: end;
            display: block;
            margin: 0px 21px;
                color: #b3a7a7d9;
}